extends ../layouts/app.pug

include ../mixins/error-alert.pug
include ../mixins/title.pug
include ../mixins/link.pug

block app-content
    +link('Back', { href: '/' })
    div(class='my-2')
        +title(collection.name, { size: 'lg' })
        div(class='flex gap-x-2')
            +link('Add Item', { href: `/collections/${collection.id}/items/new` })
            +link('Edit', { href: `/collections/${collection.id}/edit?from=/collections/${collection.id}` })
            +link('Delete', { href: `/collections/${collection.id}/items/new`, color: 'red' })
    if !collection.items.length
        p Collections empty
    else
        ol(class='list-decimal pl-4') 
            each item in collection.items
                li
                    div(class='flex gap-x-2')
                        p= item.name
                        +link('Edit', { href: `/collection-items/${item.id}/edit` })
                        +link('Delete', { href: `/collection-items/${item.id}/delete`, color: 'red' })
